<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Bay Area Cheap Rents</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <!-- Google Maps API -->
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBHLett8djBo62dDXj0EjCimF8Rd6E8cxg"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="../public/scripts/app.js"></script>

  </head>

  <body>

    <div class="jumbotron">
      <div class="container">
        <h1 id="title">Welcome to Bay Area Cheap Rents</h1>
        <p id="tagline">Find your perfect bay area apartment at the right price!</p>
        <button class='btn btn-primary add-listing' id="createNewListing">Create a new listing</button>
      </div>
    </div>

    <div class="row">
        <div class="col-sm-8 col-md-8">
            <div id="map"></div>
        </div>
        <div class="col-sm-4 col-md-4">
            <div id="listingView">
                <h1>Top SF listings</h1>
                  <div id="listingTarget">
                    <script id="listings-template" type="text/x-handlebars-template">
                      <ul>
                        {{#each listings}}
                          <li><a href="">{{title}}</a></li>
                        {{/each}}
                      </ul>
                    </script>
                    <!-- <p>Listing title 1</p>
                    <p>Listing title 2</p>
                    <p>Listing title 3</p> -->
                  </div>

            </div>
        </div>
    </div>




  </body>

</html>
