<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hidden Reaches</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Amatica+SC:400,700" rel="stylesheet"><link href="https://fonts.googleapis.com/css?family=Nixie+One" rel="stylesheet">
    <link rel="stylesheet" href="/styles/styles.css">
    <!-- <link rel="stylesheet" href="../public/styles/styles.css"> -->

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script>
    <!-- Google Maps API -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARQHjCO5uJhqZTFtRIW0_pl77gch1ve8s&libraries=places"></script>
    <!-- Google Maps API key = AIzaSyARQHjCO5uJhqZTFtRIW0_pl77gch1ve8s -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>
    <!-- <script src="../public/scripts/app.js"></script> -->

  </head>

  <body>
    <div class="jumbotron">
      <div class="container text-center">
        <h1 id="title">Hidden Reaches.</h1>
        <p id="tagline">Find your perfect bay area apartment at the right price.</p>
        <button type='button' class='btn btn-primary add-listing' id="createNewListing">Create a new listing</button>
      </div>
    </div>

    <div id="main-container" class="row">
        <div class="col-md-offset-1 col-sm-7 col-md-7" id="map-container">
            <div id="map"></div>
        </div>
        <div class="col-sm-3 col-md-3" id="listview-container">
          <!-- begin listingView: this shows titles of current listing -->
            <div id="listingView">
                  <div id="listingTarget">
                    <script id="listings-template" type="text/x-handlebars-template">
                      <ul id="listings-view">
                        {{#each listings}}
                          <li class="listing-item"><a onclick="openListingModal('{{_id}}', '{{street}} {{city}} {{state}} {{zip}}')" href="" data-toggle="modal" data-target="#{{_id}}">{{title}}</a></li>
                          <hr>
                        {{/each}}
                      </ul>
                    </script>
                  </div>
            </div>
        </div>

        <!-- begin listing-modal-container: this shows a current listing -->
        <div id="listing-modal-container" class="row">
          <script id="listing-modal-template" type="text/x-handlebars-template">
            <div class="modal" id="myModal" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h2 class="text-center">{{title}}</h2>
                      <img id="listing-img" class="img-responsive center-block" src="{{imgUrl}}">
                      <p id="street" class="text-center"><em>{{street}}</em></p>
                      <p id="city-state" class="text-center">{{city}}, {{state}}</p>
                      <p id="rent" class="text-center">${{rent}}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="editListing">Edit Listing</button>
                    <button type="button" class="deleteBtn btn btn-danger pull-right" id="deleteListing">Delete Listing</button>
                  </div>
                </div>
             </div>
            </div>
          </script>
        </div>
    </div>


    <!-- begin listingModal: this creates a new listing -->
    <div class="modal fade" tabindex="-1" role="dialog" id="listingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Create A New Listing</h4>
          </div>

        <div class="modal-body">

          <form role="form" data-toggle="validator" class='form-horizontal'>

              <!-- street input-->
               <div class="form-group">
                <label class="col-md-4 control-label">Address</label>
                <div class="col-md-8">
                  <input id="autocomplete" onFocus="geolocate()" type="text" class="form-control input-md" required>
                </div>
              </div>

              <div class="form-group has-feedback">
                <label class="col-md-4 control-label" for="listingStreet">Street</label>
                <div class="col-md-8">
                  <input id="listingStreet" onFocus="geolocate()" name="listingStreet" type="text" placeholder="street address" class="form-control input-md" disabled>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <!-- city input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingCity">City</label>
                <div class="col-md-4">
                  <input id="listingCity" name="listingCity" type="text" placeholder="city" class="form-control input-md" disabled>
                </div>
              </div>

              <!-- state input-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingState">State</label>
                <div class="col-md-4">
                  <input id="listingState" name="listingState" type="text" placeholder="example: CA" class="form-control input-md" disabled>
                </div>
              </div>

              <!-- zip input-->
              <div class="form-group has-feedback">
                <label class="col-md-4 control-label" for="listingZip">Zip Code</label>
                <div class="col-md-4">
                  <input id="listingZip" name="listingZip" type="text" maxLength="5" placeholder="zip" class="form-control input-md" disabled>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <!-- title input-->
              <div class="form-group has-feedback">
                <label class="col-md-4 control-label" for="listingTitle">Title</label>
                <div class="col-md-4">
                  <input id="listingTitle" name="listingTitle" type="text" maxLength="28" placeholder="Snappy title" class="form-control input-md" required>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors">Max of 28 characters</div>
                </div>
              </div>

              <!-- rent input-->
              <div class="form-group has-feedback">
                <label class="col-md-4 control-label" for="listingRent">Rent</label>
                <div class="col-md-4">
                  <input id="listingRent" name="listingRent" type="number" min="0" max="1200" placeholder="$ monthly" class="form-control input-md" required>
                  <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
                  <div class="help-block with-errors">Max of $1200</div>
                </div>
              </div>

          <div class="modal-footer">
              <div class="form-group">
                <button type="submit" class="btn btn-primary" id="addNewListing">Add New Listing</button>
              </div>
          </div>

          </form>

        </div>
      </div>
    </div>


    <!-- begin updateListingModal: this allows updates to current listings -->
    <div class="modal fade" tabindex="-1" role="dialog" id="updateListingModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Update Your Listing</h4>
          </div>

          <div class="modal-body">

            <fieldset class='form-horizontal'>
              <!-- imgUrl udpate-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingImgUrl">Image</label>
                <div class="col-md-4">
                  <input id="updateListingImgUrl" name="listingImgUrl" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- street update-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingStreet">Street</label>
                <div class="col-md-4">
                  <input id="updateListingStreet" name="listingStreet" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- city udpate-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingCity">City</label>
                <div class="col-md-4">
                  <input id="updateListingCity" name="listingCity" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- state update-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingState">State</label>
                <div class="col-md-4">
                  <input id="updateListingState" name="listingState" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- zip update-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingZip">Zip Code</label>
                <div class="col-md-4">
                  <input id="updateListingZip" name="listingZip" type="number" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- title update-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingTitle">Title</label>
                <div class="col-md-4">
                  <input id="updateListingTitle" name="listingTitle" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- rent update-->
              <div class="form-group">
                <label class="col-md-4 control-label" for="listingRent">Rent</label>
                <div class="col-md-4">
                  <input id="updateListingRent" name="listingRent" type="number" placeholder="" class="form-control input-md" required="">
                </div>
              </div>

              <!-- Contact update-->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label" for="listingContact">Contact</label>
                <div class="col-md-4">
                  <input id="updateListingContact" name="listingContact" type="text" placeholder="" class="form-control input-md">
                </div>
              </div> -->

              <!-- Details update-->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label" for="listingDetails">Details</label>
                <div class="col-md-4">
                  <input id="updateListingDetails" name="listingDetails" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div> -->

              <!-- Neighborhood update-->
              <!-- <div class="form-group">
                <label class="col-md-4 control-label" for="listingNeighborhood">Neighborhood</label>
                <div class="col-md-4">
                  <input id="updateListingNeighborhood" name="listingNeighborhood" type="text" placeholder="" class="form-control input-md" required="">
                </div>
              </div> -->
            </fieldset>

          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id="updateListing">Update Listing</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



  </body>

</html>
