.jumbotron {
  background-color: #fff;
  margin: 0;
}

body {
  font-family: 'Nixie One', cursive;
}

.jumbotron .container {
  height: 100px;
}

#title {
  margin-top: -25px;
  font-weight: 700;
}

#tagline {
  font-size: 16px;
}

#map-container, #listview-container {
  padding: 0;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

#map {
  height: 650px;
  width: 100%;
}

#listings-view {
  list-style-type: none;
  font-size: 24px;
  background-color: #eee;
  padding: 0;
  margin: 0;
  text-align: center;
  overflow: scroll;
  height: 650px;
}

.listing-item {
  padding: 20px;
}

li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
}

hr {
  border: 2px solid #337ab7;
}

.pac-container {
  z-index: 100000;
}

#listing-img {
  padding: 20px;
}

#city-state {
  font-weight: 700;
  font-size: 20px;
}

#rent {
  color: green;
  font-weight: 700;
  font-size: 48px;
}

h4 {
  text-align: center;
}
