
html, body {
  /*background-color: blue;*/
}

.jumbotron {
  background-image: url(../images/goldengate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}

.jumbotron .container {
  height: 200px;
}

#title {
  margin-top: -25px;
}

#mapView {
  background-color: black;
}
