.jumbotron {
  background-image: url(../images/goldengate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #EEE;
}

.jumbotron .container {
  height: 200px;
}

#title {
  margin-top: -25px;
}

#map {
  height: 400px;
  width: 600px;
}

#listing-img {
  padding: 20px;
}

#city-state {
  font-weight: 700;
  font-size: 20px;
}

#rent {
  color: green;
  font-weight: 700;
  font-size: 48px;
}
